<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://lp-cms-production.imgix.net/2019-06/GettyImages-538096543_medium.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4"> <!-- random image -->
      <div class="caption center-align">
        <h3>The New York Times</h3>
        <h5 class="light grey-text text-lighten-3">Republican senators are pressing ahead with investigations into the finances of Hunter Biden.
        </h5>
      </div>
    </li>
    <li>
      <img src="https://images.unian.net/photos/2017_06/1497951816-3026-foto-unian.jpg?0.023800306537460347"> <!-- random image -->
      <div class="caption left-align">
        <h3>Kyiv Post</h3>
        <h5 class="light grey-text text-lighten-3">
          Government plans to simplify procedure for obtaining Ukrainian citizenship.</h5>
      </div>
    </li>
    <li>
      <img src="https://turkishairlines.ssl.cdn.sdlmedia.com/637110514333635321TW.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Paris - BBC News</h3>
        <h5 class="light grey-text text-lighten-3">French PM offers compromise to end pension strike.</h5>
      </div>
    </li>
  </ul>
</div>
