<div class="container">
  <div class="row">
    <app-menu></app-menu>
    <app-carousel></app-carousel>
    <div class="col s12 m12 ">
      <div class="collection">
        <div class="dashboard-filter">
          <input type="text" [(ngModel)]="sortByTitle" (keyup)="sortBy()" placeholder="Sort by Title"/>
          <input type="text" [(ngModel)]="sortByDiscription" (keyup)="sortBy()" placeholder="Sort by Discription"/>
          <input type="text" [(ngModel)]="sortByAuthor" (keyup)="sortBy()" placeholder="Sort by Author"/>
        </div>
        <app-article
          *ngFor="let item of articles"
          [article]="item"
          ></app-article>
      </div>
    </div>
  </div>
</div>
