<a [routerLink]="['/news',article.id]" *ngIf="article.visible" class="collection-item">
  <div class="article_layout">
    <div class="article_img-border">
      <img src="{{ article.urlToImage }}" class="article_img">
    </div>
    <div class="article_info">
      <div class="article_title">{{ article.title }}</div>
      <div class="article_description">{{ article.description }}</div>
      <div class="article_author">
        <div>Author: {{ (article.author) ? article.author : 'unknown' }}</div>
        <div>{{ article.publishedAt }}</div>
      </div>
    </div>
  </div>
</a>
